@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}
.col-secondary {
  color: #1e2235;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
}
.tag-title {
  font-size: 0.8rem;
  color: #fff;
  padding: 4px 8px;
  font-weight: 700;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.g-1 {
  gap: 8px;
}
.r-1 {
  margin-right: 8px;
}

.board {
  padding: 2rem;
  background: #f5f7fb;
  display: flex;
  gap: 2rem;
  overflow: auto;
  white-space: nowrap;
}

.kanban-card {
  background: #fff;
  padding: 1rem;
  box-shadow: 0px 4.55258px 27.2924px rgba(30, 34, 53, 0.0233553),
    0px 1.92204px 12.6198px rgba(30, 34, 53, 0.0176871);
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
}

.title {
  padding: 1rem 2rem;
}

.modal {
  border-radius: 8px;
}

.input-new-task {
  background: #fff;
  padding: 8px 4px;
  border-radius: 8px;
}

.column {
  min-width: calc(100vw / 4 - 2.5rem);
}
@media (max-width: 900px) {
  .column {
    min-width: 250px;
  }
}

.landing-page {
  background-image: url(../src/assets/Gambar.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.title-big {
  font-size: 3.2rem;
  color: white;
  max-width: 45vw;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 1000px) {
  .title-big {
    font-size: 3rem;
    max-width: 60vw;
  }
}

@media (max-width: 700px) {
  .title-big {
    font-size: 1.5rem;
    max-width: 80vw;
  }
}

.image {
  max-width: 65vw;
}

@media (max-width: 500px) {
  .image {
    max-width: 80vw;
  }
}
.show-task {
  background: #f9fbfc;
  min-height: 100vh;
}

.tasks-container {
  padding: 3rem;
}

.d-flex {
  display: flex;
}

.title-tag {
  justify-content: space-between;
}

.tag-container {
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
}

.label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 4px;
}
